<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <%- include('bootstrap') %>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <%- include('navbar') %>
        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Authors
                        </th>
                        <th>
                            Link
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(function(book) { %>
                    <tr>
                        <td>
                            <%= book.title %>
                        </td>
                        <td>
                            <%= book.authors.join(', ') %>
                        </td>
                        <td>
                            <a href="/books/<%= book.id %>">Details</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>